<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>betobasket</string>
	<key>title</key>
	<string>IMG_9412</string>
	<key>url</key>
	<string>http://farm6.staticflickr.com/5453/17427722464_14ba71145c_b.jpg</string>
</dict>
</plist>
